body {
  font-family: 'Roboto', sans-serif;
  color: #EEE;
  position: relative;
}

.navbar-toggler {
  border: none;
  border-radius: 0;
  border-color: rgba(255,255,255,0);
}

.large-logo {
  width: 16vw;
}

.mid-logo {
  height: calc(30px + 6vw);
  width: calc(30px + 6vw);
}

.mini-logo {
  height: 40px;
  width: 40px;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 5px !important;
  font-size: 1rem;
}

.bg-dark {
  background-color: #222 !important;
}

.navbar, .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link.active {
  color: #222 !important;
  background-color: #DDD;
}

.title {
  font-size: calc(10px + 2vw);
  line-height: 1.25;
}

.headertitle {
  font-size: 6rem;
}

.subtitle {
  font-size: calc(1vw + 12px);
}

.subtitle2 {
  font-size: calc(0.5vw + 12px);
}

.text {
  font-size: calc(0.25vw + 14px);
}

.nomargin {
  margin: 0;
}

.text-muted {
  font-size: calc(0.25vw + 12px);
}

.small-text {
  font-size: calc(0.25vw + 10px);
  margin-bottom: 0;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  color: #EEE;
  padding: 0 0;
}

.section {
  min-height:100vh;
  background-color: #222
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100vh;
}

hr {
  border-top: 1px solid #EEE;
}

p, li {
  font-weight: 300;
}

.slight-indent {
  margin-left: 1vw;
}

.animated-header .letter {
  font-weight: 400;
  font-size: 12vw;
  display: inline-block;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.arrow {
  color: #EEE;
  font-size: 3rem;
}

.arrow:hover {
  color: #EEE;
  cursor: pointer;
}

.btn {
  border-radius: 0;
  font-weight: 300;
}

.btn-xl {
  padding: 0.9rem 1.8rem;
  font-size: calc(10px + 3vw);
  line-height: 1.5;
}

.logo {
  background-color: #FFF;
}

.grid-item-content {
  padding: 10px;
  visibility: hidden;
}

.alert {
  border-radius: 0;
}

.download-pad {
  padding-top: 20vh !important;
  padding-bottom: 20vh !important;
}

.header-scale {
  letter-spacing: 12px;
  font-size: calc(30px + 4vw);
}

.header-center {
  text-align: center !important;
}

.about-img {
  max-height: 40vh;
}

.header-video {
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay-container {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #222222;
  opacity: 0.8;
  z-index: 1;
}

.close-video {
  position: absolute;
  font-size: 2rem;
  top: 0.25rem;
  left: 1rem;
  z-index: 3;
}

.informational {
  position: absolute;
  top: 3rem;
  left: 1rem;
  border: black;
  z-index: 4;
}

.hide-section {
  display: none !important;
}

/* Disables video on mobile */
/* @media (pointer: coarse) and (hover: none) {
  .blurb {
    background: #222222 no-repeat center center scroll;
  }
  .mobile-video {
    display: none;
  }
} */
/* Commenting out becomes Nico requested it */

@media only screen and (min-width: 992px) {
  .header-center {
    text-align: inherit !important;
  }
}