body {
  font-family: 'Roboto', sans-serif;
  color: #EEE;
  position: relative;
}

.large-logo {
  width: 16vw;
}

.mini-logo {
  height: 40px;
  width: 40px;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 5px !important;
}

.bg-dark {
  background-color: #222 !important;
}

.navbar, .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link.active {
  color: #222 !important;
  background-color: #DDD;
}

.title {
  font-size: 2.5vw;
  line-height: 1.25;
}

.subtitle {
  font-size: 1.5vw;
}

.text {
  font-size: 1vw;
}

.small-text {
  font-size: 10px;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  color: #EEE;
  padding: 0 0;
}

.section {
  min-height:100vh;
  background-color: #222
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100vh;
}

hr {
  border-top: 1px solid #EEE;
}

p, li {
  font-weight: 300;
}

.slight-indent {
  margin-left: 1vw;
}

.animated-header .letter {
  font-weight: 400;
  font-size: 12vw;
  display: inline-block;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.arrow {
  color: #EEE;
  font-size: 3vw;
}

.arrow:hover {
  color: #EEE;
  cursor: pointer;
}

.btn {
  border-radius: 0;
  font-weight: 300;
}

.logo {
  background-color: #FFF;
}

.grid-item-content {
  padding: 10px;
}

.alert {
  border-radius: 0;
}