body {
  font-family: 'Roboto', sans-serif;
  color: #EEE;
  position: relative;
}

.navbar-toggler {
  border: none;
  border-radius: 0;
  border-color: rgba(255,255,255,0);
}

.large-logo {
  width: 16vw;
}

.mid-logo {
  height: calc(40px + 6vw);
  width: calc(40px + 6vw);
}

.mini-logo {
  height: 40px;
  width: 40px;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 5px !important;
  font-size: 1rem;
}

.bg-dark {
  background-color: #222 !important;
}

.navbar, .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link.active {
  color: #222 !important;
  background-color: #DDD;
}

.title {
  font-size: calc(20px + 2vw);
  line-height: 1.25;
}

.headertitle {
  font-size: 6rem;
}

.subtitle {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
}

.nomargin {
  margin: 0;
}

.text-muted {
  font-size: 0.75rem;
}

.small-text {
  font-size: 10px;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  color: #EEE;
  padding: 0 0;
}

.section {
  min-height:100vh;
  background-color: #222
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100vh;
}

hr {
  border-top: 1px solid #EEE;
}

p, li {
  font-weight: 300;
}

.slight-indent {
  margin-left: 1vw;
}

.animated-header .letter {
  font-weight: 400;
  font-size: 12vw;
  display: inline-block;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.arrow {
  color: #EEE;
  font-size: 3rem;
}

.arrow:hover {
  color: #EEE;
  cursor: pointer;
}

.btn {
  border-radius: 0;
  font-weight: 300;
}

.btn-xl {
  padding: 0.9rem 1.8rem;
  font-size: calc(10px + 3vw);
  line-height: 1.5;
}

.logo {
  background-color: #FFF;
}

.grid-item-content {
  padding: 10px;
  visibility: hidden;
}

.alert {
  border-radius: 0;
}

.download-pad {
  padding-top: 7rem !important;
  padding-bottom: 3rem !important;
}

.header-scale {
  letter-spacing: 12px;
  font-size: calc(30px + 4vw);
}

.header-center {
  text-align: center !important;
}

.img-fluid {
  
}

.about-img {
  max-height: 40vh;
}

@media only screen and (min-width: 992px) {
  .header-center {
    text-align: inherit !important;
  }
}